#
# FocalTech FT3307 Touchscreen driver
#

config FT3307_TOUCHPANEL_DRIVER
	tristate "FocalTech FT3307 touchpanel driver"
	depends on FT3307_TOUCHSCREEN_DRIVER
	help
	  This is the main file for touchpanel driver for FocalTech FT3307
	  touchscreens.

	  Say Y here if you have a FocalTech FT3307 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT3307_update.

config FT3307_TOUCHPANEL_UPDATE
	tristate "FocalTech FT3307 touchpanel auto update support"
	depends on FT3307_TOUCHPANEL_DRIVER
	help
	  This enables support for firmware update for FocalTech FT3307
	  touchscreens.

	  Say Y here if you have a FocalTech FT3307 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT3307_update.

config FT3307_TOUCHPANEL_DEBUG
	tristate "FocalTech FT3307 Tools for debuging"
	depends on FT3307_TOUCHPANEL_DRIVER
	help
	  This is application debug interface support for FocalTech FT3307
	  touchscreens.

	  Say Y here if you want to have a Android app debug interface
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT6336_update.
