menuconfig TCT_DEBUG
	bool "TCT debug support"
	default y
	---help---
	  This option add tct debug support.

if TCT_DEBUG

config TCT_DEBUG_BOOTPROF
	bool "bootprof"
	default y
	---help---
	  add bootprof support.

config TCT_LOG_PRINTK
	bool "add pid/cpu to printk"
	default y
	---help---
		add pid/cpu to printk.


config TCT_LOG_PANIC
	bool "add cpu status and stack dump to panic"
	default y
	---help---
		add tct log to panic.

config TCT_DEBUG_SAVE_BOOT_MSG
	default y
	bool "TCT debug: saving kernel log of booting to memory"
	---help---
	  file node:/proc/bootmsg

config TCT_LOG_RAMOOPS
	default y
	select PSTORE
	select PSTORE_CONSOLE
	select PSTORE_RAM
	bool "ramoops support"
	---help---
	  log kmsg/ftrace/panic/oops into pstore's ram buffer.

config TCT_WDOG_DUMP
	default y
	bool "dump cpu regs while watchdog timeout"
	---help---
	  save last cpu regs into '/proc/last_cpu' while watchdog timeout.

config TCT_DEBUG_BOOT_REASON
	default y
	bool "show boot reason"
	---help---
		show boot reason at '/proc/boot_reason'.
# [Feature]-Add-BEGIN by TCTSZ. add android - kernel timestamp wenzhao.guo@tcl.com, 2015/07/17, for [Task-433879]
config TCT_DEBUG_BOOT_TIME
	default y
	bool "show boot time"
	---help---
		show boot time at '/proc/boot_time'.
# [Feature]-Add-BEGIN by TCTSZ. add android - kernel timestamp wenzhao.guo@tcl.com, 2015/07/17, for [Task-433879]

# [Feature]-Add-BEGIN by TCTSZ. add klog. xiaoju.liang@tcl.com, 2015/07/20, for [Task-403392]
config TCT_DEBUG_KLOG
	default y
	tristate "print kernel log to userspace by netlink."
	---help---
	  print kernel log to userspace by netlink.
# [Feature]-Add-END by TCTSZ. xiaoju.liang@tcl.com, 2015/07/20, for [Task-403392]

# [Feature]-Add-BEGIN by TCTSZ. add watchdog timeout test method wenzhao.guo@tcl.com, 2015/07/28, for [Task-403392]
config TCT_DEBUG_WATCHDOG_TEST
	default n
	bool "TCT debug: provide a interface to test watchdog timeout"
	---help---
	  echo 0 > /sys/kernel/debug/fire_watchdog_reset or fire_softlockup_reset to trigger the watchdog timeout
# [Feature]-Add-END by TCTSZ. add watchdog timeout test method wenzhao.guo@tcl.com, 2015/07/28, for [Task-403392]

# [Feature]-Add-BEGIN by TCTSZ. add mmc dumper. xiaoju.liang@tcl.com, 2015/08/06, for [Task-403392]
config TCT_DEBUG_MMC
	default y
	bool "mmc dumper"
	---help---
	  ...
# [Feature]-Add-END by TCTSZ. xiaoju.liang@tcl.com, 2015/08/06, for [Task-403392]
# [Feature]-Add-BEGIN by TCTSZ. add uart log output controller. wenzhao.guo@tcl.com, 2015/09/23, for [Task-662897]
config TCT_PRINTK_UART
	default y
	bool "TCT printk UART controller"
	---help---
	control the printk uart log output or not. 
# [Feature]-Add-END by TCTSZ. add uart log output controller. wenzhao.guo@tcl.com, 2015/09/23, for [Task-662897]
endif

#add dirty file detector for defect 432029 by pingping.jiang 20150715 begin
config TCT_DIRTY_FILES_DETECTOR
        default n
        depends on TCT_DEBUG
        bool "TCT dirty file detector for /system partition and /custpack partition"
#add dirty file detector for defect 432029 by pingping.jiang 20150715 end

# [Feature]-Add-BEGIN by TCTSZ. add mlog. xiaoju.liang@tcl.com, 2015/11/10, for [Task-897707]
config TCT_DEBUG_MLOG
	default n
	tristate "print modem log to kmsg."
	---help---
	  print modem log to kmsg.
# [Feature]-Add-END by TCTSZ. xiaoju.liang@tcl.com, 2015/11/10, for [Task-897707]

#add by junfeng.zhou for add sbl1 log begin .
config TCT_DEBUG_MORELOG
	default y
	tristate "print more log to kernel."
	---help---
	  print more log to kernel.
#add by junfeng.zhou for add sbl1 log end .


