config TOUCHSCREEN_GT5668            
       tristate "GT5668 touchscreen"
	default n
       depends on I2C
       help
         Say Y here if you have a GT5668 touchscreen on TCL Pop4-5.5C.
         If unsure, say N.
         To compile this driver as a module, choose M here: the
         module will be called GT5668.
